{% extends "layouts/app.layout.njk" %}

{% block content %}

    <div class="uk-flex uk-flex-column">

        {% import "macros/navbar.macro.njk" as navbar %}
        {{ navbar.nav(app, 'home') }}

        <div class="uk-flex uk-flex-column" uk-height-viewport="offset-top: true">

            <div class="uk-section uk-section-light uk-margin-auto-vertical">
                <div class="uk-container">

                    <div class="uk-grid-medium" uk-grid>

                        <div class="uk-width-1-2@m uk-width-1-1@s uk-text-center uk-text-left@m">

                            <h1 class="uk-heading-small">
                                <span class="uk-text-bold">Your Partner In</span>
                                <span class="uk-text-light">All your Apple Products</span>
                                <span>Repair Needs</span>
                            </h1>

                            <h4 class="uk-text-bold uk-margin-small-top uk-text-gray">iPhone | Macbooks | iPad | iMac | i Watch</h4>

                            <button class="uk-button uk-button-large uk-button-secondary uk-border-rounded uk-margin-small-top">
                                <span class="uk-text-large">Repair Your Product</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-margin-auto-top uk-section uk-section-muted uk-padding-small">
                <div class="container uk-text-center">

                    <div class="uk-text-large uk-text-uppercase">
                        Pick Up & Drop   |   Repair Warranty   |   Quality Repairing   |   Fast Turnaround Time
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-section uk-padding-medium uk-section-secondary section-gradient">
            <div class="uk-container uk-text-center">
                <h1 class="uk-text-uppercase">
                    <span class="uk-text-bold">Schedule A</span>
                    <span class="uk-text-light">Repair</span>
                </h1>

                <h3 class="uk-margin-small-top">Its Quicker Than You Think</h3>

                <div class="uk-placeholder uk-padding uk-text-center">
                    Placeholder
                </div>

                <div class="uk-text-large uk-margin-top">
                    <span class="uk-text-bold uk-text-uppercase">Step 1:</span>
                    <span class="uk-text-light uk-margin-small-left">Start by selecting the device</span>
                </div>
            </div>
        </div>

        <div class="uk-section uk-section-default uk-padding-medium">

            <div class="uk-container uk-text-center">
                <h1 class="uk-text-uppercase">
                    <span class="uk-text-bold">What people have to say about</span>
                    <span class="uk-text-light">iCare</span>
                </h1>

                <div class="uk-placeholder uk-padding-large uk-text-center">

                    <span class="uk-text-large">Video</span>
                </div>

                <p class="uk-margin-top">
                    Experienced and professional technicians. We have a team of industry experts. Senior technicians with more than 10 years of experience. We have experts for softwares, part replacement, motherboard level repair etc. We do it all.
                </p>
            </div>

        </div>

        {% include "partials/footer.partial.njk" %}
    
    </div>
{% endblock %}