<div class="footer uk-section uk-section-secondary uk-padding-small uk-text-small">
    <div uk-grid>
        <div class="uk-text-center uk-text-left@m uk-width-1-1 uk-width-1-3@m">
            Copyright 2018 &copy; {{app.author}}. All rights reserved
        </div>
        <div class="uk-text-center uk-width-1-1 uk-width-1-3@m">
            Hand Crafted with <span class="uk-text-danger"><i class="fa fa-heart"></i></span> by SketchMonk
        </div>
    </div>
</div>